page-login {

	.icon-face, .icon-google {
	    display: inline-block;
	    height: 100%;
	    margin: 0;
	    padding: 0 10px;
	    background-size: 86% 50%;
	    background-position: 20% 47%;
	    background-repeat: no-repeat;
	}

	.icon-face {
		background-image: url(../assets/icon/face_white_logo.png);
	}

	.icon-google {
		background-image: url(../assets/icon/google_white_logo.png);
	}
	
	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default,
	.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
		background-image: url("../assets/icon/more_blue.png") !important;
		height: 30px !important;
	 	width: 30px !important;
	 	background-size: 100% 100%;
		background-repeat: no-repeat;
		padding-right: 20px;
		.button-inner {
			color: transparent;
		}
	}
	
	ion-content {
		display: flex;
		text-align: center;
		color: #488aff !important;

		.scroll-bar
		{
			overflow-x:false;
		}
		p {
			padding: 0;
			margin: 0;
		}
		.logo {
			width: 90%;
		}

		.content-img {
			width: 35%;
		}
	}

	.logo {
		p {
			padding-bottom: 20px;
		}
	}

	.login {
		background-color: #488aff;
		margin: 0 -16px;
		button{
			font-size:14px;
			border: 2px cornflowerblue solid;
			box-shadow: none;
			text-transform: none;
			padding: 0;

			.button-inner {
				padding-right: 5px;
			}
		}
	}

	.content {
		h1 {
			font-weight: 600;
			padding: 25px 0 0 0px;
			margin: 0;
		}

		img {
			padding: 0 0 5px 0;
		}
	}
	.login-mobile{
		width:100%;
		margin:0px;
		.mobile-icon{
			margin-right: 5px;
			margin-left: 5px; 
		}
	}

}
