<ion-list *ngIf="relationship">
	<ion-item (click)="SelectRelationship(1)">
		<ion-label>Single</ion-label>
	</ion-item>
	<ion-item (click)="SelectRelationship(2)">
		<ion-label>Married</ion-label>
	</ion-item>
	<ion-item (click)="SelectRelationship(3)">
		<ion-label>In a Relationship</ion-label>
	</ion-item>
	<ion-item (click)="SelectRelationship(4)">
		<ion-label>Engaged</ion-label>
	</ion-item>
	<ion-item (click)="SelectRelationship(5)">
		<ion-label>Civil union</ion-label>
	</ion-item>
	<ion-item (click)="SelectRelationship(6)">
		<ion-label>Divorced</ion-label>
	</ion-item>
	<ion-item (click)="SelectRelationship(7)">
		<ion-label>Separated</ion-label>
	</ion-item>
	<ion-item (click)="SelectRelationship(8)">
		<ion-label>Widowed</ion-label>
	</ion-item>
	<ion-item (click)="SelectRelationship(9)">
		<ion-label>Open Relationship</ion-label>
	</ion-item>
	<ion-item (click)="SelectRelationship(10)">
		<ion-label>Domestic partnership</ion-label>
	</ion-item>
</ion-list>
<ion-list *ngIf="work_status">
	<ion-item (click)="SelectWorkStatus(1)">
		<ion-label>Unemployed</ion-label>
	</ion-item>
	<ion-item (click)="SelectWorkStatus(2)">
		<ion-label>Unemployed and looking for work</ion-label>
	</ion-item>
	<ion-item (click)="SelectWorkStatus(3)">
		<ion-label>Self-employed</ion-label>
	</ion-item>
	<ion-item (click)="SelectWorkStatus(4)">
		<ion-label>Employed but looking for more</ion-label>
	</ion-item>
	<ion-item (click)="SelectWorkStatus(5)">
		<ion-label>Not looking for any work</ion-label>
	</ion-item>

	
</ion-list>
