<ion-list >
	<ion-item (click)="GoTo('a_bit_about_me')">
		<ion-label>Bit About Me</ion-label>
	</ion-item>
	<ion-item (click)="GoTo('asks_offers')">
		<ion-label>My Asks & Offers</ion-label>
	</ion-item>
	<ion-item (click)="GoTo('what_i_do')">
		<ion-label>What I Do</ion-label>
	</ion-item>
	<ion-item (click)="GoTo('goot_at')">
		<ion-label>What I Am Good At</ion-label>
	</ion-item>
	<ion-item (click)="GoTo('say_about_me')">
		<ion-label>What My Friends Say About Me</ion-label>
	</ion-item>


</ion-list>